* {margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.tela {
    background-color: rgb(114, 206, 169);
    height: 300px;
    text-align: center;
    padding: 20px;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: aliceblue;
    display:block;
}

\.cabeçalho{
    background-color: rgba(12, 12, 11, 0.971);
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: rgba(12, 12, 11, 0.971);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    color: white;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li{
    margin: 0 5px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover{
    background: darkgray;
}

nav .menu-btn i{
    color: white;
    cursor: pointer;
    display: none;
}

@media (max-width: 920px) {
    nav .menu-btn i{
        display: block;
    }
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: black;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

}

.container-principal{
    display:flexbox ;
    justify-content: center;
    flex-wrap:wrap;
}

.cartão{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 100px;
    text-align: center;
    gap: 30px;
    border-width: 50px;
}

.cartão:hover{
    text-align: center;
}

.cartoes{
    background-color: blue;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 100px;
   height: fit-content;
   padding: 100px;
}

.rodapé{
    text-align: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.889);
    color: rgb(247, 4, 4);
}

.contatos {
    background-color: rgba(249, 218, 45, 0.341);
    height: 200px;
    padding: 100px;
}

.projetos {
    background-color: rgb(145, 145, 245);
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 100px;
}

.projeto {
    background-color: white;
    display: flexbox;
    justify-content: center;
    align-content: first baseline;
    width: 400px;
    padding: 100px;
    border-radius: 8px;
}

.titulo {
    background-color: rgb(114, 206, 169);
    padding: 100px;
    text-align: center;
    height: fit-content;
}

.voluntario {
    background-color: rgba(249, 218, 45, 0.341);
    height: 200px;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-container img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}

.body-cadastro {
    background-color: rgba(77, 243, 218, 0.564);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(51, 145, 199);
    border-radius: 14px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-sizing: 0 3px 5px rgba(98, 97, 97, 0.964);
    overflow: hidden;
}

.header {
    background-color: azure;
    text-align: center;
    padding: 24px;
}

.form{
    padding: 18px;
}

.form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
}

.form-content label{
    display: inline-block;
    margin-bottom: 4px;
}

.form-content input{
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf;
    margin-bottom: 8px;
}

.form-content a{
    position: absolute;
    bottom: -8px;
    left: 0;
    margin-bottom: 15px;
    visibility: hidden;
}

.form button{
    background-color: antiquewhite;
    color: darkblue;
    width: 100%;
    border-radius: 14px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 14px;
}